<footer>
    <div class="cookie">
        <img class="footer-banner" src="/img/footermain.png" alt="">
        <ul class="cookie-items">
            <li class="cookie-title">CATALOG</li>
            <li class="cookie-value"><a href="#">TOOLS/SUPPLIES</a></li>
            <li class="cookie-value"><a href="#">CAR CARPETS</a></li>
            <li class="cookie-value"><a href="#">TUNING</a></li>
            <li class="cookie-value"><a href="#">TINTING</a></li>
            <li class="cookie-value"><a href="#">CAR INTERIOR</a></li>
        </ul>
        <ul class="cookie-items">
            <li class="cookie-title">INFO</li>
            <li class="cookie-value"><a href="#">OUR SHOPS</a></li>
            <li class="cookie-value"><a href="#">NEWS</a></li>
            <li class="cookie-value"><a href="#">OFFERS</a></li>
            <li class="cookie-value"><a href="#">ABOUT US</a></li>
            <li class="cookie-value"><a href="#">CONTACT US</a></li>
        </ul>
        <ul class="cookie-items">
            <li class="cookie-title">CONTACT US</li>
            <li class="cookie-number ">+372 56 84 34 20</li>
            <li class="cookie-email">cartune@gmail.com</li>
        </ul>
        <div class="subscription">
            <p>BE TUNED!</p>
            <form>
                <input type="text" placeholder="EMAIL">
                <input type="submit" value="> SEND">
            </form>
        </div>
    </div>
    <iframe class="map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A0d55688bbe6840e0956acb766b9a32204fc4c89d4780fa7306ac645a50fb0399&amp;source=constructor" width="1277" height="400" frameborder="0"></iframe>
        
</footer>