    <nav class="navbar">
        <div class="logo-block">
            <img src="img/logo1.png" alt="">
            <a href="#" class="logo"><font color="#DD604E">Car</font>Tune</a>
        </div>
        <input type="checkbox" id="toggler">
        <label for="toggler" class="down-menu"><i class="ri-menu-line"></i></label>
        <div class="menu">
            <ul class="nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Constructor</a></li>
                <li><a href="#">Catalog</a></li>
                <li><a href="#">Portfolio</a></li>
            </ul>
        </div>
        <div class="right-block">
            <label for="checkbox" class="toggler-theme">
                <input type="checkbox" id="checkbox">
                <span class="ball"></span>
                <i class="ri-sun-line sun"></i>
                <i class="ri-moon-line moon"></i>
            </label>
            <div class="login-block">
                <img class="login-logo" src="img/user-interface.png" alt="">
                <a href="#" class="login">Login</a>
            </div>
        </div>
    </nav>