<div class="main-constructor" style="height: 1000px;">
    <div id="canvas"></div>
    {{!-- <button id="change">
        Pomenyat`
    </button> --}}
    <div class="construct-tools">
        <div class="color">
            <h2>Color</h2>
            <input id="color" type="color" class="blue">
        </div>
        <div class="tuning">
            <h2>Tuning</h2>
            <div class="wing-parts">
                <p>Wings</p>
                <select class="parts">
                    <option value="0">Clear</option>
                    <option value="1">Carbon Fiber Wing</option>
                </select>
            </div>
        </div>
    </div>
</div>
