<main>
    <img class="main-banner" src="/img/main.png" alt="">
    <div class="main-text">
        <p>YOUR <font color="#DD604E">CAR</font>,<br />&emsp;&emsp;&emsp;&emsp;&emsp;YOUR<span style="font-family:'Nothing You Could Do';font-weight:400"> STYLE</span></p>
    </div>
    <div class="box">
    </div>
    <div class="slider">
        <div class="slide-track">
            <div class="slide"><img src="/img/slider1.png" alt=""></div>
            <div class="slide"><img src="/img/slider2.png" alt=""></div>
            <div class="slide"><img src="/img/slider3.png" alt=""></div>
            <div class="slide"><img src="/img/slider4.png" alt=""></div>
            <div class="slide"><img src="/img/slider5.png" alt=""></div>
            <div class="slide"><img src="/img/slider6.png" alt=""></div>
            <div class="slide"><img src="/img/slider1.png" alt=""></div>
            <div class="slide"><img src="/img/slider2.png" alt=""></div>
            <div class="slide"><img src="/img/slider3.png" alt=""></div>
            <div class="slide"><img src="/img/slider4.png" alt=""></div>
            <div class="slide"><img src="/img/slider5.png" alt=""></div>
            <div class="slide"><img src="/img/slider6.png" alt=""></div>
        </div>
    </div>
    <div class="our-works">
        <h2>Our works</h2>
        <div class="works-block">
            <div class="works-text">
                <p>Watch our real clients latest car styling works</p>
                <a href="">View all our works&emsp;<font color="#DD604E">&#10230;</font></a>
            </div>
            <div class="works-cars">
                <div class="works-cars-block">
                    <p>Mazda rx-7</p>
                    <img src="/img/works.jpg" alt="">
                </div>
                <div class="works-cars-block">
                    <p>Mazda rx-7</p>
                    <img src="/img/works.jpg" alt="">
                </div>
                <div class="works-cars-block">
                    <p>Mazda rx-7</p>
                    <img src="/img/works.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="about-us">
        <p style="font-family:'Nothing You Could Do';font-weight: 400;width: 500px;font-size: 48px;color: white;transform: rotate(6.47deg);position:absolute;">Drive Bold,<br />&emsp;&emsp;&emsp;&emsp;Drive Tuned!</p>
        <div class="about-us-block">
            <div class="aub-head">
                <img src="/img/aubanner.png" alt="">
                <div class="aub-text">
                    <h2>About us</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
et dolore magna aliqua. Curabitur gravida arcu ac tortor dignissim convallis aenean. Tempus urna et 
pharetra pharetra massa massa ultricies mi quis. Diam ut venenatis tellus in metus vulputate eu 
scelerisque. Elementum pulvinar etiam non quam lacus suspendisse. Habitant morbi tristique 
senectus et netus et malesuada fames ac. Vitae semper quis lectus nulla. Justo donec enim diam 
vulputate ut. 
                    </p>
                    <div class="read-more">
                        <a href="">Read more&emsp;<font color="#DD604E">&#10230;</font></a>
                    </div>
                
                </div>
            </div>
            <div class="aub-foot">
                <div class="tutor-block" style="margin-top: -2%;">
                    <div class="tutor-num">
                        <p>1</p>
                    </div>
                    <div class="tutor-text">
                        <p>&emsp;&emsp;&emsp;&emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
                <div class="tutor-block" style="margin-top: -2%;">
                    <div class="tutor-num">
                        <p>2</p>
                    </div>
                    <div class="tutor-text">
                        <p>&emsp;&emsp;&emsp;&emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
                <div class="tutor-block" style="margin-top: 4%;">
                    <div class="tutor-num">
                        <p>3</p>
                    </div>
                    <div class="tutor-text">
                        <p>&emsp;&emsp;&emsp;&emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
                <div class="tutor-block" style="margin-top: 4%;">
                    <div class="tutor-num">
                        <p>4</p>
                    </div>
                    <div class="tutor-text" >
                        <p>&emsp;&emsp;&emsp;&emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
            </div>
            <div onclick="window.location.pathname='/constructor'" class="aub-button">
                <a href="/constructor">> Tune your car</a>
            </div>
        </div>
    </div>
    <div class="new-arrivals">
        <h2><font color="#DD604E">NEW</font> ARRIVALS</h2>
        <div class="arrivals-blocks">
            <div class="block">
                <img src="/img/arr1.png" alt="">
                <p class="title"><span>Rear spoiler</span><br />BRABUS GLC-CLASS C253</p>
                <div class="foot">
                    <p class="price">130.00 €</p>
                    <a href="">>ADD TO CART</a>
                </div>
            </div>
            <div class="block">
                <img src="/img/arr2.png" alt="">
                <p class="title"><span>Carbon hood trim</span><br />BRABUS POWERDOME</p>
                <div class="foot">
                    <p class="price">70.00 €</p>
                    <a href="">>ADD TO CART</a>
                </div>
            </div>
            <div class="block">
                <img src="/img/arr3.png" alt="">
                <p class="title"><span>Carbon fiber front panel mounts</span><br />BRABUS GT-CLASS C190</p>
                <div class="foot">
                    <p class="price">210.00 €</p>
                    <a href="">>ADD TO CART</a>
                </div>
            </div>
            <div class="block">
                <img src="/img/arr4.png" alt="">
                <p class="title"><span>Carbon rear wing</span><br />BRABUS GT-CLASS C190</p>
                <div class="foot">
                    <p class="price">350.00 €</p>
                    <a href="">>ADD TO CART</a>
                </div>
            </div>
        </div>
    </div>
</main>

