body{
    font-family: Montserrat;
    font-weight: 400;
    margin: 0;
    background-color: #202B2D;
}

input{
    outline: none;
}

.navbar{
    position: absolute;
    z-index: 2;
    width: -webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 235px;
    justify-content: space-between;
    background-image: linear-gradient( rgba(0,0,0), rgba(0,0,0), rgba(0,0,0,78.5),rgba(0,0,0,0));
    padding: 15px 4% 15px 4%;
    /* position: sticky;
    top: 0; */
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.logo{
    font-weight: 600;
    font-size: 32px !important;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 111px;
    padding: 0;
}
#toggler,
.navbar .down-menu{
    display: none;
}

.nav-list li{
    display: inline-block;
    position: relative;
    transition: 0.4s all ease;
}

.nav-list li:hover{
    color:#DD604E;
    transition: 0.4s all ease;
}

.nav-list li::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.nav-list li:hover::after{
    transform: scaleX(1);
    transform-origin:bottom left;
}

.logo-block{
    display: flex;
    align-items: center;
    gap: 15px;
}

@media screen and
(max-width: 1300px) {
    .nav-list{
        gap: 50px;
    }
    .navbar{
        height: 123px;
    }
    .footer-banner{
        height: 338px !important;
    }
    .aub-head img{
        width: 50%;
        height: 50%;
    }
}
@media screen and
(max-width: 1200px) {
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .navbar{
        flex-wrap: nowrap;

    }
    .nav-list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex;
        cursor: pointer;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}

#checkbox{
    display: none;
}
.toggler-theme{
    display: block;
    width: 60px;
    height: 24px;
    border: 1px solid #120082;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    background-color: #3E347E;
}
.ball,
.sun,
.moon{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.ball{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color:#D9D9D9;
    border-radius: 50%;
    left: 3px;
    z-index: 10;
    transition: transform .5s ease-in-out;
}

.sun{
    left: 5px;
}

.moon{
    right: 5px;
}
#checkbox:checked+ .ball{
    transform: translate(35px,-50%);
}

.right-block{
    display: flex;
    align-items: center;
    gap: 60px;
}

.login-block{
    display: flex;
    gap: 10px;
}

.login-logo{
    height: 33px;
}

.main-banner{
    width: -webkit-fill-available;
    position: absolute;
}

.cookie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 338px;

}

.cookie-items{
    margin: 0 !important;
    padding: 69px 128px 0px 0px;
    list-style-type: none;
    z-index: 1;
    color: white;
}
.subscription{
    z-index: 1;
    padding-top: 69px;
    display: flex;
    flex-direction: column;
}

.subscription input[type="submit"] {
    margin-left: -90px;
    height: 25px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: rgba(0,0,0,0);
    width: 80px;
    text-shadow: #DD604E 0 2px 7px;
    color: #DD604E;
    cursor: pointer;
}

.subscription p{
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-weight: 600;
    font-size: 20px;
    color:white;
}

.subscription input{
    padding-left: 20px ;
    width: 267px;
    height: 40px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border:solid 1.5px #B8B8B8;
    background-color: rgba(0,0,0,0);
    &::placeholder{
        color: #B8B8B8;
    }
}

.cookie-items:nth-of-type(2){
    padding-right: 116px;
}

.cookie-title{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 33px;
}

.cookie-value, .cookie-number{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 14px;
}

.footer-banner{
    width: -webkit-fill-available;
    height: 530px;
    position: absolute;
}

.cookie-email{
    text-decoration: underline;
    font-weight: 500;
    font-size: 13px;
}

.cookie-value a{
    color: white;
    text-decoration: none !important;

    &:hover{
        color: #DD604E;
    }
}

#map{
    position: relative;
    width: -webkit-fill-available;
    overflow: hidden;
    height: 548px;
}

p{
    margin: 0;
}

.main-text{
    padding: 16% 0px 0px 8%;
    font-size: 64px;
    line-height: 1.5;
    white-space: nowrap;
    font-weight: 600;
    color: white;
    position: absolute;
    z-index: 1;
}

main{
    height: 3000px;
}

.slider{
    display: flex;
    overflow: hidden;
    align-items: center;
}

.slider .slide-track{
    background-color: black;
    height: 229px;
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation:scroll 35s linear infinite;
    width: 4702px;
}

.slider .slide{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slider .slide img{
    width: fit-content;
    height: fit-content;
    margin: 32.5px;
}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(-2351px);
        transform: translateX(-2351px);
    }
}

.box{
    width: -webkit-fill-available;
    padding-top: 71%;
}

.our-works{
    width: -webkit-fill-available;
    height: 390px;
    background-image: linear-gradient( rgba(0,0,0),rgba(0,0,0,0));
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.our-works h2{
    color: #DD604E;
    font-weight: 500;
    font-size: 32px;
    margin-top: 0;
}

.works-text p{
    color: white;
    width: 279px;
    height: 165px;
}
.works-text a{
    color: white;
    text-decoration: none;
}

.works-cars{
    display: flex;
    gap: 51px;
}

.works-block{
    display: flex;
    gap: 29px;
}

.works-cars-block img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: 18px;
    object-fit: cover;
    position: relative;
}
.works-cars-block{
    width: 237px;
    height: 191px;
    border-radius: 18px;
    background-image: linear-gradient(rgba(0,0,0,82%),rgba(10,10,10,54%),rgba(23,23,23,24%),rgba(0,0,0,0));

}

.works-cars-block p{
    border-radius: 18px;
    padding: 1% 0 0 1%;
    height: 5vw;
    width: 224.760px;
    color: white;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,82%),rgba(10,10,10,54%),rgba(23,23,23,24%),rgba(0,0,0,0));
}

.about-us{
    padding-top: 5%;
}

.about-us-block{
    padding-top: 8%;
}

.aub-head{
    display: flex;
    gap: 61px;
}

.aub-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aub-text h2{
    margin: 0 0 5% 0;
    color: #DD604E;
    font-weight: 500;
    font-size: 32px;
}

.aub-text p{
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.aub-text a{
    text-decoration: none;
    color: white;
}

.read-more{
    margin-top: 5%;
}

.tutor-num{
    margin-top: -3%;
    z-index: 1;
    position: absolute;
    background-color: #DD604E;
    height: 86px;
    width: 86px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutor-num p{
    font-family: "Nothing You Could Do";
    font-weight: 400;
    font-size: 64px;
    color: white;
}

.tutor-text{
    position: relative;
    margin: 0% 0 0 7%;
    width: 265px;
    height: 133px;
    background-color: white;
    border-radius: 19px;
}

.tutor-text p{
    font-weight: 400;
    font-size: 16px;
    color: black;
    padding: 25px 10px 10px 15px;
    line-height: 1.5;
}

.aub-foot{
    display: flex;
    justify-content: space-evenly;
}

.aub-button{
    border: 1px solid #FFFFFF;
    width: 444px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    cursor: pointer;
    &:hover{
        text-shadow: #DD604E 0 5px 30px;
        border: 1px solid #DD604E;
    }
}

.aub-button a{
    text-align: center;
    width: 444px;
    color: #DD604E;
    text-decoration: none;
    font-weight: 500;
    font-size: 36px;
}

.new-arrivals{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 5%;
}

.new-arrivals h2{
    font-size: 32px;
    font-weight: 500;
    color: white;
}

.arrivals-blocks{
    display: flex;
    gap: 41px;
}

.arrivals-blocks .block{
    height: 400px;
    width: 250px;
    letter-spacing: 2px;
    text-align: center;
}

.arrivals-blocks .block .title{
    margin-top: 18px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.arrivals-blocks .block .title span{
    font-size: 16px;
    font-weight: 500;
    color: #898989;
}
.arrivals-blocks .block .foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}
.arrivals-blocks .block .foot .price{
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.arrivals-blocks .block .foot a{
    font-size: 14px;
    color: #DD604E;
    font-weight: 500;
    text-shadow: #DD604E 0 5px 13.8px;
    text-decoration: none;
}